* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #2473e9; 
  font-family: Helvetica, sans-serif;
  color: rgb(186, 254, 216);
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}